@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.container{
  width: 1000px;
  margin: auto;
}

.main-header{
  display: flex;
  justify-content: space-between;
}

.logo{
  text-decoration: none;
  color: black;
  padding-top: 20px;
}

.nav-icon{
    display: none;
  }
  
  .navbar ul{
    display: flex;
    list-style: none;
    
  }
  
  .nav-items{
    padding: 20px;
  }
  
  .nav-items:hover{
    background-color: #EEEEEE;
    transition: .3s ease;
  }
  
  
  .nav-links{
    text-decoration: none;
    color: black;
  }






.hero-section{
  display: flex;
  align-items: center;
  margin: 80px 0 80px;
}

.highlight-1{
    background-color: yellow;
    border-radius: 0.8em 0.3em;
    background: transparent;
  background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    );
  }
  
  .highlight-3{
    border: 1px solid red;
    border-radius: 50%;
      padding: 5px;
    
  /*   background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    ); */
  }

  .highlight-4{
    border: 1px solid red;
    border-radius: 50%;
      padding: 5px;
  }
  
  .contact-cta{
    color: black;
    text-decoration: none;
  }


  .highlight-2{
    border-radius: 0.8em 0.3em;
  background-image: linear-gradient(
      to right,
      rgb(207, 159, 255, 0.1),
      rgb(207, 159, 255, 0.7) 4%,
      rgb(207, 159, 255, 0.3)
    );
  }


.hero-desc-links{
  color: black;
  text-decoration-style: dotted;
}

.hero-desc{
  margin: 20px 0;
}



.hero-img{
  border-radius: 50%;
  overflow: none;
  width: 20rem;
}

.cta{
  margin: 40px 0;
}

.buttons{
    padding: 10px 40px;
    margin: 0 5px;
  font-size: .9rem;
  border-radius: 4px;
    border: 1px solid gray;
  text-decoration: none;
}

.cta a{
  text-decoration: none;
}

.primary-cta{
  background-color: black;
  color: white;

}

.primary-cta:hover{
  background-color: #2C3333;
    transition: .3s ease;
}

.secondary-cta{
  background-color: white;
  color: black;
}

.secondary-cta:hover{
  background-color: #EEEEEE;
  transition: .3s ease;
}

.scrolling-text{
  background-color: #EEEEEE;
}









@media only screen and (max-width: 900px) {
  .container{
    /* background-color: lightblue; */
    width: 100vw;
  }

  .nav-icon{
    display: inline;
    padding: 20px;    
  }

  
  
  .logo{
      display: none;
  }

  .nav-items{
      display: none;
  }

  .hero-section{
      flex-direction: column;
      flex-flow: column-reverse;
      margin: 50px 0 0;
  }

  .hero-img{
    width: 200px;
  }

  .hero-text{
      text-align: center;
      padding: 20px;
  }

  .hero-heading{
      font-size: 1.5rem;
  }

  .buttons{
    padding: 10px 20px;
    margin: 0 5px;

  }
}


